
/// IMPORTANT: change the following to match the secondary color
// secondary
// $secondaryLight: #ede7f6;
// $secondaryMain: #673ab7;
// $secondaryDark: #5e35b1;
// $secondary200: #b39ddb;
// $secondary800: #4527a0;




/// IMPORTANT: change the following to match the secondary color

// secondary dark
// $darkSecondaryLight: #d1c4e9;
// $darkSecondaryMain: #7c4dff;
// $darkSecondaryDark: #651fff;
// $darkSecondary200: #b39ddb;
// $darkSecondary800: #6200ea;



// ==============================|| LIGHT THEME VARIANTS ||============================== //

// paper & background
$paper: #ffffff; // White background for paper elements
$background: #fafafa; // Light background for page

// primary colors
$primaryLight: #eef2f6;
$primary200: #aec8be;
$primaryMain: #014212;
$primaryDark: #04613c;
$primary800: #569076;

// secondary colors
$secondaryLight: #e0f5ff;
$secondary200: #f7dcbe;
$secondaryMain: #f06d32;
$secondaryDark: #e6b57c;
$secondary800: #e6b57c;

// success colors
$successLight: #b9f6ca;
$success200: #69f0ae;
$successMain: #00e676;
$successDark: #00c853;

// error colors
$errorLight: #ef9a9a;
$errorMain: #f44336;
$errorDark: #c62828;

// warning colors
$warningLight: #fff8e1;
$warningMain: #ffe57f;
$warningDark: #ffc107;

// grey shades
$grey50: #f8fafc;
$grey100: #eef2f6;
$grey200: #e3e8ef;
$grey300: #cdd5df;
$grey500: #697586;
$grey600: #4b5565;
$grey700: #364152;
$grey900: #121926;

// ==============================|| DARK THEME VARIANTS ||============================== //

// paper & background for dark mode
$darkBackground: #1a223f;
$darkPaper: #111936;

// dark levels
$darkLevel1: #29314f;
$darkLevel2: #212946;

// primary colors for dark theme
$darkPrimaryLight: #eef2f6;
$darkPrimary200: #90caf9;
$darkPrimaryMain: #2196f3;
$darkPrimaryDark: #1e88e5;
$darkPrimary800: #1565c0;

// secondary colors for dark theme
$darkSecondaryLight: #e0f5ff;
$darkSecondary200: #efa958;
$darkSecondaryMain: #f06d32;
$darkSecondaryDark: #b69065;
$darkSecondary800: #b69065;

// text variants for dark mode
$darkTextTitle: #d7dcec;
$darkTextPrimary: #bdc8f0;
$darkTextSecondary: #8492c4;

// ==============================|| JAVASCRIPT EXPORTS ||============================== //
:export {
  // paper & background
  paper: $paper;
  background: $background;

  // primary colors
  primaryLight: $primaryLight;
  primary200: $primary200;
  primaryMain: $primaryMain;
  primaryDark: $primaryDark;
  primary800: $primary800;

  // secondary colors
  secondaryLight: $secondaryLight;
  secondary200: $secondary200;
  secondaryMain: $secondaryMain;
  secondaryDark: $secondaryDark;
  secondary800: $secondary800;

  // success colors
  successLight: $successLight;
  success200: $success200;
  successMain: $successMain;
  successDark: $successDark;

  // error colors
  errorLight: $errorLight;
  errorMain: $errorMain;
  errorDark: $errorDark;

  // warning colors
  warningLight: $warningLight;
  warningMain: $warningMain;
  warningDark: $warningDark;

  // grey shades
  grey50: $grey50;
  grey100: $grey100;
  grey200: $grey200;
  grey300: $grey300;
  grey500: $grey500;
  grey600: $grey600;
  grey700: $grey700;
  grey900: $grey900;

  // dark mode
  darkPaper: $darkPaper;
  darkBackground: $darkBackground;
  darkLevel1: $darkLevel1;
  darkLevel2: $darkLevel2;
  darkTextTitle: $darkTextTitle;
  darkTextPrimary: $darkTextPrimary;
  darkTextSecondary: $darkTextSecondary;
  darkPrimaryLight: $darkPrimaryLight;
  darkPrimary200: $darkPrimary200;
  darkPrimaryMain: $darkPrimaryMain;
  darkPrimaryDark: $darkPrimaryDark;
  darkPrimary800: $darkPrimary800;
  darkSecondaryLight: $darkSecondaryLight;
  darkSecondary200: $darkSecondary200;
  darkSecondaryMain: $darkSecondaryMain;
  darkSecondaryDark: $darkSecondaryDark;
  darkSecondary800: $darkSecondary800;
}
